.Person{
    border: 2px 2px solid #eee;
  box-shadow: 2px 2px 2px 2px #ccc;
  box-sizing: border-box;
  width: 50%;
  height:100%;
  margin-left: 300px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center
}
@media (min-width : 300px){
  .Person{
    width: 500px;
  }
}